.projectsWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  margin-top: 2rem;
}

.projectSingle {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 4rem 0;
}

.projectSingle > div {
  flex: 1;
  padding: 0 1rem;
}

.imgWrap img {
  width: 100%;
  object-fit: contain;
  border-radius: 8px;
  box-shadow: 0 0 3px var(--main-color);
  transition: 0.2s ease-in-out;
  overflow: hidden;
  cursor: pointer;
  opacity: 0.8;
}

.imgWrap img:hover {
  transform: scale(1.002);
  box-shadow: 0 0 6px var(--main-color);
  opacity: 1;
}

@media only screen and (max-width: 900px) {
  .projectSingle > div {
    flex: auto;
  }
}
