.contactForm {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  padding: 0 2rem;
  margin-bottom: 3rem;
}

.inputForm {
	color: var(--main-color);
  font-size: 1.5rem;
  background-color: transparent;
  padding: 1rem;
  text-transform: capitalize;
  margin-bottom: 2rem;
  outline: none;
  border: none;
   border-bottom: 1px solid var(--main-color);
  border-radius: 5px;
  -webkit-transition: 0.3s;
  transition: 0.3s ease-in-out;
  /* box-shadow: 0 5px 50px var(--oppositeMain-color); */
}

.inputForm:focus {
  background-color: var(--oppositeMain-color);
}

.messageArea {
  resize: none;
}
