.headerFlex {
  display: flex;
  flex-direction: column;
  margin: 4rem 0;
}

.headerFlex h1 {
  font-size: 4rem;
}

.headerFlex h3 {
  font-style: italic;
  align-self: flex-end;
  font-size: 1.2rem;
  float: right;
  text-align: right;
  border-top: 2px solid var(--main-color);
  padding-top: 2rem;
}

.detailMeFlex {
  display: flex;
  margin: 4rem 0;
  gap: 5rem;
}

.detailMeFlex > div h2 {
  font-size: 2.5rem;
}

.introduce {
  flex: 5;
}

.mySkills {
  flex: 3;
}
.skillList {
  text-transform: capitalize;
  position: relative;
  list-style: none;
}

.skillList::before {
  content: "";
  position: absolute;
  left: 0;
  top: 9px;
  width: 1px;
  height: 92%;
   background-color: var(--main-color);
}

.skillSingle {
  margin: 1rem 0;
  position: relative;
  padding: 0 0 2rem 2rem;
}

.skillSingle::before {
	content: " ";
	background: black;
	display: inline-block;
	position: absolute;
	border-radius: 50%;
	border: 2px solid var(--main-color);
	left: -9px;
	top: 5px;
	width: 16px;
	height: 16px;
 	z-index: 30;
}

