.navbar {
  background-color: var(--background-color);
  color: var(--main-color);
  padding: 2rem 0;
  font-size: 1.2rem;
}

.menu-bar {
  width: 45px;
  height: 40px;
  margin: 30px 0 20px 20px;
  cursor: pointer;
}

.bar {
  height: 5px;
  width: 100%;
  background-color: #dc052d;
  display: block;
  border-radius: 5px;
  transition: 0.3s ease;
}

.navbarFlex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
}

.navbarList {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.navbarItem {
  margin: 0 1rem;
  width: 100;
  transition: 0.2s ease-in-out;
  opacity: 0.8;
}

.navbarItem:hover {
  opacity: 1;
}

.navbarItem a {
  text-decoration: none;
  color: var(--main-color);
  padding-bottom: 10px;
  position: relative;
}

.navbarItem img {
  filter: invert(var(--invert-boolean));
  max-width: 7rem;
  transform: scale(2);
  height: auto;
  opacity: 0.7;
  color: var(--main-color);
  transition: 0.2s ease-in-out;
}

.navbarItem img:hover {
  opacity: 1;
  transform: scale(2.05);
}

.navbarItem a::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 50%;
  background-color: var(--main-color);
  transition: 0.3s ease-in-out;
  transform: translateX(-50%);
}

.navbarItem a:hover::before {
  width: 110%;
}
