.navbar {
  background-color: transparent;
  color: var(--main-color);
  padding: 2rem 0;
  font-size: 1.2rem;
}

.navbarFlex {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
  align-items: flex-end;
}

.navbarList {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  z-index: 10;
}

.navbarItem {
  margin: 0 1rem;
  width: 100;
  transition: 0.2s ease-in-out;
  opacity: 0.8;
}

.navbarItem:hover {
  opacity: 1;
}

.navbarItem a {
  text-decoration: none;
  color: var(--main-color);
  padding-bottom: 10px;
  position: relative;
}

.navbarItem img {
  filter: invert(var(--invert-boolean));
  max-width: 7rem;
  transform: scale(2);
  height: auto;
  opacity: 0.7;
  color: var(--main-color);
  transition: 0.2s ease-in-out;
}

.navbarItem img:hover {
  opacity: 1;
  transform: scale(2.05);
}

.navbarItem a::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 50%;
  background-color: var(--main-color);
  transition: 0.3s ease-in-out;
  transform: translateX(-50%);
}

.navbarItem a:hover::before {
  width: 110%;
}

@media only screen and (max-width: 640px) {
  .navbarFlex {
    align-items: flex-start;
  }
  .navbarList {
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    right: 0;
  }

  .navbarItem:nth-child(n + 2) {
    margin: 0;
    display: none;
    pointer-events: none;
  }

  .navbarItem.isVisible {
    display: block;
    pointer-events: initial;
  }
}
