.menuBar {
  display: none;
  width: 45px;
  height: 40px;
  margin: 30px 0 10px 20px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  position: relative;
  transition: 0.2s ease;
}

.menuBar.toggle {
  transform: translateY(-100%);
}

.menuBar::after {
  position: absolute;
  right: 0;
  border-radius: 40%;
  content: "";
  width: 0;
  height: 0;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.1),
    var(--main-color)
  );
  border-radius: 50%;
  transform: translate(65%, -25%);
  transition: 0.2s ease;
  z-index: -1;
}

.menuBar.toggle::after {
  width: 350px;
  height: 350px;
  pointer-events: none;
}

.bar {
  height: 3px;
  margin: 4px 0;
  width: 100%;
  background-color: var(--red-color);
  display: block;
  border-radius: 5px;
  transition: 0.3s ease;
}

.bar.toggle {
  background-color: var(--main-color);
  box-shadow: 0 0 5px 3px var(--red-color);
}

.bar.toggle:nth-child(1) {
  transform: translateY(7px) rotateZ(45deg);
}
.bar.toggle:nth-child(2) {
  transform: translateX(15px);
  opacity: 0;
}
.bar.toggle:nth-child(3) {
  transform: translateY(-6px) rotateZ(-45deg);
}

@media only screen and (max-width: 640px) {
  .menuBar {
    display: initial;
  }
}
