:root {
  --main-color: #fff;
  --background-color: #75757500;
}

svg {
  display: block;
}

body {
  background-color: rgba(5, 0, 36, 0.979);
  color: white;
  font-family: Blorado, sans-serif;
}

.homePage {
  max-width: 1200px;
  margin: auto;
}
